services:
  frontend:
    image: ghcr.io/shuffle/shuffle-frontend:${SHUFFLE_VERSION:-latest}
    container_name: shuffle-frontend
    hostname: shuffle-frontend
    ports:
      - ${SHUFFLE_APP_PORT:-3001}:80
      - ${FRONTEND_PORT_HTTPS:-3443}:443
    networks:
      - cti-net
    environment:
      - BACKEND_HOSTNAME=${BACKEND_HOSTNAME:-shuffle-backend}
    command: >
      /bin/sh -c "find /usr/share/nginx/html -name '*.js' -exec sed -i
      's/:5001/:'\"$${SHUFFLE_BACKEND_PORT:-5001}\"'/g' {} + && nginx -g 'daemon
      off;'"
    restart: unless-stopped
    depends_on:
      - backend
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: "0.50"
  backend:
    image: ghcr.io/shuffle/shuffle-backend:${SHUFFLE_VERSION:-latest}
    container_name: shuffle-backend
    hostname: ${BACKEND_HOSTNAME:-shuffle-backend}
    ports:
      - ${SHUFFLE_BACKEND_PORT:-5001}:5001
    networks:
      - cti-net
    volumes:
      - ./vol/shuffle-apps:/shuffle-apps:z
      - ./vol/shuffle-files:/shuffle-files:z
    env_file: .env
    environment:
      - SHUFFLE_APP_HOTLOAD_FOLDER=/shuffle-apps
      - SHUFFLE_FILE_LOCATION=/shuffle-files
      - ORG_ID=${ORG_ID}
      - BASE_URL=http://${BACKEND_HOSTNAME:-shuffle-backend}:5001
      - DOCKER_API_VERSION=${DOCKER_API_VERSION}
      - SHUFFLE_MEMCACHED=
      - DOCKER_HOST=tcp://docker-socket-proxy:2375
    restart: unless-stopped
    depends_on:
      - docker-socket-proxy
    deploy:
      resources:
        limits:
          memory: 2048M
          cpus: "1.0"
  orborus:
    image: ghcr.io/shuffle/shuffle-orborus:${SHUFFLE_VERSION:-latest}
    container_name: shuffle-orborus
    hostname: shuffle-orborus
    networks:
      - cti-net
    environment:
      - SHUFFLE_APP_SDK_TIMEOUT=${SHUFFLE_APP_SDK_TIMEOUT}
      - ENVIRONMENT_NAME=${ENVIRONMENT_NAME}
      - ORG_ID=${ORG_ID}
      - BASE_URL=http://${BACKEND_HOSTNAME:-shuffle-backend}:5001
      - DOCKER_API_VERSION=${DOCKER_API_VERSION}
      - SHUFFLE_STATS_DISABLED=${SHUFFLE_STATS_DISABLED}
      - SHUFFLE_LOGS_DISABLED=${SHUFFLE_LOGS_DISABLED}
      - SHUFFLE_WORKER_IMAGE=ghcr.io/shuffle/shuffle-worker:${SHUFFLE_VERSION:-latest}
      - SHUFFLE_TENZIR_IMAGE=tenzir/tenzir:v4.18.0
      - CLEANUP=${CLEANUP}
      - DOCKER_HOST=tcp://docker-socket-proxy:2375
    env_file: .env
    restart: unless-stopped
    depends_on:
      - docker-socket-proxy
    security_opt:
      - seccomp:unconfined
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: "0.50"
  docker-socket-proxy:
    image: tecnativa/docker-socket-proxy:latest
    container_name: docker-socket-proxy
    hostname: docker-socket-proxy
    privileged: true
    networks:
      - cti-net
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - SERVICES=1
      - TASKS=1
      - NETWORKS=1
      - NODES=1
      - BUILD=1
      - IMAGES=1
      - GRPC=1
      - CONTAINERS=1
      - PLUGINS=1
      - SYSTEM=1
      - VOLUMES=1
      - INFO=1
      - DISTRIBUTION=1
      - POST=1
      - AUTH=1
      - SECRETS=1
      - SWARM=1
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 128M
          cpus: "0.25"
#  tenzir-node:
#    image: tenzir/tenzir:v4.18.0
#    container_name: tenzir-node
#    hostname: tenzir-node
#    entrypoint: []
#    command: /opt/tenzir/bin/tenzir-node --endpoint=0.0.0.0:5160
#    ports:
#      - "1514:1514"
#      - "5160:5160"
#      - "1514:1514/udp"
#    volumes:
#      - /tmp:/tmp
#      - ./vol/tenzir-cache:/var/cache/tenzir
#      - ./vol/tenzir-lib:/var/lib/tenzir
#    networks:
#      - cti-net
#    restart: unless-stopped
#    deploy:
#      resources:
#        limits:
#          memory: 2048M
#          cpus: '1.0'

networks:
  cti-net:
    external: true
