services:
  lacus:
    build: ./source
    image: lacus:local
    # container_name: lacus
    restart: unless-stopped
    ports:
      - "${LACUS_PORT:-7100}:7100"
    volumes:
      - ./vol/lacus-data:/lacus/data
      - ./source/config:/app/lacus/config
    environment:
      - LACUS_HOME=/app/lacus
      - REDIS_HOST=infra-valkey
      - REDIS_PORT=6379
      - PW_TEST_SCREENSHOT_NO_FONTS_READY=1
      - PLAYWRIGHT_CHROMIUM_USE_HEADLESS_NEW=1
    networks:
      - cti-net
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:7100" ]
      interval: 30s
      timeout: 10s
      retries: 3
networks:
  cti-net:
    external: true
    name: cti-net
